<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" type="text/css" href="style 5.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&family=Blaka+Ink&family=Bungee+Spice&family=Dancing+Script:wght@700&family=Galada&family=Mochiy+Pop+P+One&family=Montserrat&family=Ms+Madi&family=Poppins:wght@100&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
	
<!---5th page start--->

<div class="bg-img">
	
<div>
	<p>Finn &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Flight <br>
		Airlines &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp TRK-Fin One Way <br>
		12:45 &nbsp &nbsp Non-stop &nbsp &nbsp 15:45<br>
	TRK &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp FIN<br><br>
	Sub- Total &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp USD 0<br><br><br>
	You pay(for 1 traveler) &nbsp &nbsp  USD 0
</p>

<button><a href="file:///D:/Class%20Practice/project/project%206%20r/index%206.html">Confirm <br>Booking</a></button>
</div>

</div>

<!---5th page end--->

</body>
</html>