<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" type="text/css" href="style  .css">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&family=Blaka+Ink&family=Bungee+Spice&family=Dancing+Script:wght@700&family=Galada&family=Mochiy+Pop+P+One&family=Montserrat&family=Ms+Madi&family=Poppins:wght@100&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
	
<!---1st page start--->


<div class="bg-img">
	<div>
	<h1>Sing Up</h1>
	<p>Create an account by providing below information</p>

	<form class="form2" action="{{url_for('register') }}" method="post">
		<input placeholder="Name" class="feild" type=:"text" name="fullname" id="full name"required="required">
		<br>

		<input placeholder="Email" class="feild" type=:"email" name="email" id="email" required="required">
		<br>

		<input  placeholder="Mobile"class="feild-mobile" type="phone" name="phone" id="ph" required="required">
		<input placeholder="City" class="feild-country" type="Country" name="country" id="country" required>
		<br>
		<!---<input placeholder="Password" class="feild" type="password" name="password" id="password">--->
		<br>
		<input type="submit">
	</form>
<font>By creating an account you agree to our terms & conditions</font>
<br>

<!---<button><a href="file:///D:/Class%20Practice/project/project%206%20r/index%202.html">Sign In</a></button>--->

<br>
<span>Already have an account?&nbsp <a href="file:///D:/Class%20Practice/project/project%206%20r/index%202.html">Sing In</a></span>



</div>




<!---1st page end--->


</body>
</html>