<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" type="text/css" href="style 6.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&family=Blaka+Ink&family=Bungee+Spice&family=Dancing+Script:wght@700&family=Galada&family=Mochiy+Pop+P+One&family=Montserrat&family=Ms+Madi&family=Poppins:wght@100&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
	
<!---6th page start--->

<div class="bg-img">
	
<div>

	<h1>My Booking</h1>
	<p>
		Airlines Info- &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  Finn<br>&nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp Airlines<br>
		
		Departure- &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp &nbsp  &nbsp   TRK <br><br>
		
		Arrival- &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp   &nbsp FIN<br><br><br>
		
		Departure Date &<br>Time- &nbsp &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp &nbsp  &nbsp   30 oct'22 12:45<br><br>
		
		Arrival Date & Time- &nbsp  &nbsp  &nbsp  &nbsp  &nbsp 30 oct'22 15:45<br><br>
		
		Total paid &nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp  USD 0

</p>

<button><a href="">Cancel <br>Booking</a></button>
</div>

</div>

<!---6th page end--->

</body>
</html>