<!<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Document
	</title>

	<link rel="stylesheet" type="text/css" href="style 2.css">


	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&family=Blaka+Ink&family=Bungee+Spice&family=Dancing+Script:wght@700&family=Galada&family=Mochiy+Pop+P+One&family=Montserrat&family=Ms+Madi&family=Poppins:wght@100&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>


<!---hero container start--->

<div class="hero-container">
	
	<h1>Sign In</h1>
	    <div class="sing-in-form">
	
			<form class="form">
				<input placeholder="Email" class="feild" type=:"email" name="email" id="email" required="required">
				<br>
				<input placeholder="Password" class="feild" type=:"password" name="email" id="email" required="required">
				<br>
		<button><a href="file:///D:/Class%20Practice/project/project%206%20r/index%203.html">Sign In</a></button>
	</form>
	<p class="text">Don't have an account?&nbsp <a href="file:///D:/Class%20Practice/project/project%206%20r/index%203.html">Sing up</a> </p>
	</div>
</div>

<!---hero container end--->













</body>
</html>